.menu {
    display: flex;
    width: 100%;
    height: 38px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.menu > div {
    display: flex;
    width: 33.3%;
}

.menu_add-update {
    justify-content: flex-end;
}

.info-table_name {
    width: 40%;
}

.info-table_price {
    width: 25%;
}

.info-table_actions {
    width: 35%;
}

.table thead > tr {
    height: 50px;
    line-height: 50px;
}

.table th {
    position: relative;
}

.info-table tbody > tr {
    height: 40px;
    line-height: 40px;
}

.table td {
    text-align: center;
}

.table tbody td {
    position: relative;
}

.table tr td:first-child {
    text-align: left;
}

.table td button:first-child {
    margin-right: 20px;
}

.column {
    display: inline-block;
    margin-right: 25px;
}

.column:last-child {
    margin-left: 20px;
}

#table th > button {
    position: absolute;
    right: 20px;
    background-color: #fff;
    border: none;
    outline: none;
}

.count {
    position: relative;
    display: flex;
    width: 45px;
    float: right;
    justify-content: center;
    color: #fff;
    background-color: #343a40;
    border-radius: 23px;
}

.error-message {
    color: #ff0000;
}

.sort {
    background: url(../img/Up.png) no-repeat;
    width: 18px;
    height: 18px;
}

.button {
    display: inline-block;
    margin-right: 25px;
    height: 20px;
}